<form class="form new-vacay-form">
    <div class='form-group col-3 mb-2'>
        <label>Vacay Name</label>
        <input type='text' class='form-control' id='vacay-name' placeholder='Florida' />
    </div>
    <div class='form-group col-3 mb-2'>
        <label>How many days is your trip?</label>
        <input type='number' class='form-control' id='trip-days' placeholder='5' />
    </div>
    <div class='form-group col-3 mb-2'>
        <label>What is your overall budget?</label>
        <input type='number' class='form-control' id='start-budget' placeholder='2000' />
    </div>
    <div class='form-group col-3 mb-2'>
        <label>Cost of transportation/airfare?</label>
        <input type='number' class='form-control' id='airfare' placeholder='300' />
    </div>
    <div class='form-group col-3 mb-2'>
        <label>Cost of living/hotel stay?</label>
        <input type='number' class='form-control' id='hotel' placeholder='400' />
    </div>
    <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
</form>

<script src='./js/trip.js'></script>